---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Noto Serif', 'aller_lightregular', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$heading-font-family: 'PT Sans', 'Museo Sans', 'Gandhi Sans Bold', 'Fira Sans SemiBold', 'bevanregular';

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
//$brand-color:      #91B14E;  // avocado
//$brand-color:     #4D9800;  // light spinach
//$brand-color:      #FF4B27;  // tomato
//$brand-color:  #2C677A;
$brand-color:      #71916E;
$brand-color-dark: darken($brand-color, 25%);
$brand-color-light: desaturate(lighten($brand-color, 40%), 30%);

//$accent-color: #FFB601;  // egg yolk
//$accent-color: #F7C3C3; 
$accent-color: #6FC949; //#46B219;  // light green, ALMOST avocado-y
$accent-color-dark: darken($accent-color, 25%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "fonts",
        "syntax-highlighting"
;


.site-title {
  font-family: $heading-font-family;
}


.comment {
  padding: 15px 0px;
  border-top: 1px solid #eee;
  .author {
    font-weight: bold;
  }
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.gallery {
  img {
    display: inline-block;
    max-width: 250px;  /* in case you want the first to be bigger */
    margin: 12px;
    @extend .box-shadow;
  }

  img ~ img {
    max-width: 250px;
  }
}
