@font-face {
    font-family: 'aller_lightregular';
    src: url('webfonts/aller_lt-webfont.eot');
    src: url('webfonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/aller_lt-webfont.woff2') format('woff2'),
         url('webfonts/aller_lt-webfont.woff') format('woff'),
         url('webfonts/aller_lt-webfont.ttf') format('truetype'),
         url('webfonts/aller_lt-webfont.svg#aller_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bevanregular';
    src: url('webfonts/bevan-webfont.eot');
    src: url('webfonts/bevan-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/bevan-webfont.woff2') format('woff2'),
         url('webfonts/bevan-webfont.woff') format('woff'),
         url('webfonts/bevan-webfont.ttf') format('truetype'),
         url('webfonts/bevan-webfont.svg#bevanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
